.content__profile--footer{
   height: 16%;  
   background: transparent; 
   /* position: relative; */
   bottom: 30px;
}

.content__btn--group {
    /* position: fixed;
    right: 30px;
    bottom: 30px; */
    display: flex;
    justify-content: center;
}

.content__btn--group :nth-child(1) {
    /* width: 196px;
    height: 56px;
    border: 1px #8C68FF solid;
    color: #8C68FF;
    font: "Roboto";
    font-size: 20px;
    margin-left: 35px;
    cursor: pointer; */
}

.content__btn--group :nth-child(2) {
    /* width: 196px;
    height: 56px;
    border: none;
    background-color: #8C68FF;
    color: #FFFFFF;
    font: "Roboto";
    font-size: 20px;
    margin-left: 35px;
    cursor: pointer; */
}

.addtional__information {
    height: 156px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    position: relative;
    background-color: #FFFFFF;
    /* min-height: 205px; */
}

.addtional__information >label {
    position: absolute;
    left: 32px;
    top: 40%;
}

.addtional__information >input {
    position: absolute;
    border: 1px solid #C4C4C4;
    left: 32px;
    top: 60%;
    width: 50%;
    height: 50px;
    border-radius: 12px;
}

.addtional__information--title{
    position: absolute;
    top: 21.5px;
    left: 32px;
    font-family: Poppins;
    font-size: 20px;
}

.content__bussiness{
    height: 40%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: #FFFFFF;
    min-height: 409px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content__bussiness .ant-row {
    flex: 1;
    margin-left: 2%;
}

.bussiness__content {
    /* margin-top: 5%; */
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
}

.bussiness__title {
    text-align: start;
    padding-left: 32px;
    padding-top: 21.5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account__connection {
    position: relative;
    background: white;
    height: 16%;
    margin-bottom: 6%;
    min-height: 165px;
}

.account__connection--wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    top: 35%;
    margin-top: 6% !important;
}

.account__connection--wrapper >input {
    width: 100%;
    padding-left: calc(5% + 22px); 
    height: 36px
}

.account__connection--wrapper button{
    position: absolute;
    left: 67%;
    top: 50%;
    transform: translateY(40%);
    max-width: 245px;
    width: 20%;
    height: 40px;
    text-align: left;
    background-color: #8C68FF;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account__connection--wrapper button >span {
    margin-right: 4%;
    font-weight: bold;
}

.account__connection--title {
    position: absolute;
    top: 21.5px;
    left: 32px;
    font-family: Poppins;
    font-size: 20px;
}

.account__connection input {
    position: absolute;
    border: 1px solid #C4C4C4;
    left: 32px;
    top: 44%;
    width: 85%;
    height: 66px;
    border-radius: 12px;
}

.ant-input-data-count{
    padding-bottom: 38px;
    padding-right: 15px;
}

.bussiness__inspire--btn {
   z-index: 1000;
   border: 1px #8C68FF solid;
   color: #8C68FF;
   position: absolute;
   right: 6px;
   bottom: 14px;
   width: 157px;
   height: 40px;
   cursor: pointer;
}

.bussiness__btn--group {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    bottom: 10%;
    width: 100%;
    
}

.bussiness__btn {
    z-index: 1000;
    border: 1px #8C68FF solid;
    color: #8C68FF;
}

.textarea__wrapper{
    position: relative;
    width: 48%;
}

.textarea__display {
    width: 48%;
    position: relative;
}

.bussiness__btn--close 
{
    z-index: 1000;
    border: 1px #8C68FF solid;
    color: #8C68FF;
    cursor: pointer;
}

.bussiness__btn--accept {
    z-index: 1000;
    border: 1px #8C68FF solid;
    color: #8C68FF;
    cursor: pointer;
}

.bussiness__btn--regenerate {
    z-index: 1000;
    border: 1px #8C68FF solid;
    color: #8C68FF;
    cursor: pointer;
}

.meta__icon {
    position: absolute;
    z-index: 1000;
    left: 6%;
    top: 50%;
    transform: translateY(40%);
    width: 40px;
    height: 40px;
}

.ant-input-textarea-show-count {
   /* margin-top: 13% */
}

.ant-input-textarea {
    position: relative; 
}

.brand__container {
    height: 156px;
    margin-left: 3%;
}

.brand__container .ant-form-item-row {
    margin-top: 32px;
}

.brand__container  .ant-form-item-control-input-content{
    display: flex !important;
}

.custom-button {
    width: 412px;    
    height: 56px;   
    font-size: 20; 
    color: white;
    border-radius: 8px;
  }

.content__btn--group .ant-btn {
    width: 412px;    
    height: 56px ; 
    background-color: #C1C7CD !important;  
    color: white;
    border-radius: 8px; 
}  

.content__btn--group .ant-btn >span {
    color: white;
    font-size: 20px;
}

.content__bussiness  .ant-col-12 {
    /* margin: 2% !important; */
    margin-top: 2% !important;
}

.content__bussiness .ant-col-8 {
    height: 310px;
    margin: 5% 2% 2% 2%;
}

.content__bussiness .ant-col-8 span {
    color: purple;
    margin-top: 18px;
    margin-bottom: 10px;
}



.content__bussiness .ant-col-8 span::after {
    content: '';
    position: absolute;
    left: 41%;
    bottom: 93%; 
    width: 18%; 
    height: 2px; 
    background-color: purple; 
}


.content__bussiness .ant-col-8 .ant-carousel {
    margin-top: 10px;
}

.ant-modal {
    /* display: none; */
    width: 80% !important;
    height: 661px !important;
    top: 30%;
}

.ant-modal .ant-modal-content {
    height: 661px !important;
}

.ant-modal .ant-modal-content .ant-modal-body {
    height: 661px!important;
}

.ant-modal .ant-modal-content .ant-modal-title {
    margin-top: 34px;
    margin-left: 28px;
}

.ant-modal .ant-modal-content .ant-modal-footer:nth-child(1) {
    display: none;
}

.ant-modal .ant-modal-content .ant-modal-header .ant-modal-title{
    color: #343C6A !important;
    font-size: 28px !important;
    font-weight: 600 !important;
}

.ant-modal .ant-table-selection-column {
    /* position: relative !important;
    left: 6% !important; */
}

.ant-modal .ant-table-cell .ant-table-selection-column .ant-table-cell-row-hover {
    position: relative !important;
    left: 6% !important;
}

.ant-table .ant-table-thead > tr > th {
    background-color: #8C68FF; 
    color: #FFF; 
}

.custom-table .ant-table-tbody > tr > td {
    background-color: #F7F5FF !important; 
    color: #343C6A !important; 
}

.ant-modal-content .ant-modal-body {
   height: 450px !important;
}

.ant-modal .ant-modal-footer {
    display: none;
}

.ant-modal .ant-pagination {
    display: none;
}

.profile__account--content {
    margin-top: 36px;
}

.profile__account--content button {
    width: 196px;
    height: 56px;
    background-color: #8C68FF;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 78%;
    left: 39%;
    cursor: pointer;
}

.lexi__container__pages .content { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}