.lexi-cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;

  &__item {
    width: 252px;
    height: 252px;
    background-color: #fcfcfc;
    padding: 16px;
    margin-right: 32px;
    margin-bottom: 32px;
    border-radius: 16px;
    border: 1.5px dashed #262626;
    position: relative;
    display: flex;
    flex-direction: column;

    &__add {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      &__button {
        height: 70px;
        width: 70px !important;
        border: 1.5px solid #000000;
        border-radius: 0;
        margin-bottom: 27px;
      }
    }

    &__header {
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      color: #8c68ff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__operation {
        color: black;
        padding-left: 10px;
        cursor: pointer;
      }
    }

    &__content {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__footer {
      text-align: right;
      font-size: 14px;
    }
  }
}
