.lexi-form-item {
  background-color: #fff;
  padding: 32px;
  margin: 24px 0;

  .ant-form-item {
    margin-bottom: 0;
  }

  &__desc {
    text-align: left;
    font-size: 12px;
    margin-top: -4px;
    margin-bottom: 10px;
    color: #333;
  }

  &__sub {
    margin-bottom: 0;
  }
}

.lexi-form__buttons {
  text-align: center;

  .lexi-button {
    margin: 0 10px;
  }
}
