.lexi__container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &--shrink {
        .lexi__container__right {
            width: calc(100vw - 80px);
        }
        .lexi__sidebar {
            width: 80px;
            // position: absolute;
            // left: calc(100% - 12px);
            // width: 20px;
        }
    }

    &__right {
        float: left;
        padding: 0 40px;
        width: calc(100vw - 240px);
        height: 100%;
    }

    &__pages {
        padding: 40px 0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
    }
}

.lexi__container__pages .content {
   
        width: 100%;
    
}