.contact_title {
    position: absolute;
    /* top: 222px; */
    top: 25%;
    width: 100%;
    font-family: white MiSans;
    color: white;
    margin: 0 auto;
}

.contact_title >span {
    position: relative;
    top: -15px;
}

.content__container {
    width: 100%;
    height: 100%;
    background-image: url("/public/images/bgContact.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__container{
    height: 100%;
    /* top: 324px; */
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__form {
    position: absolute;
    top: 35%;
    width: 740px;
    display: grid;
    gap: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 80px));
    gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-item >input {
    background-color: #333333;
    border-color: rgba(140, 104, 255, 0.2);
    border-radius: 6px;
    padding-left: 16px;
    color: #FFFFFF;
    height: 40px;
}

.form-item >select {
    background-color: #333333;
    border-color: rgba(140, 104, 255, 0.2);
    border-radius: 6px;
    color: #FFFFFF;
    height: 240px;

}

.contact__select .ant-select-selector{
    border-color: rgba(140, 104, 255, 0.2) !important;
    background-color: #333333 !important;
}

.contact__select .ant-select-selector > .ant-select-selection-item {
    padding: 0px 5px;
}

.contact__select .ant-select-selector > .ant-select-selection-item{
    color: white;
    text-align: start;
}

.contact__select .ant-select-selector > .ant-select-item-option-selected {
    background-color: #F1F1F1 !important;
}

.form-item > select option {
    /* display: none; */
        background-color: red; /* 未选中时背景颜色 */
        padding-top: 3px;  /* 控制选项上下距离 */
        padding-bottom: 3px; /* 控制选项上下距离 */
        height: 37px; /* 每个选项的高度 */
        font-family: 'MiSans', sans-serif;
        font-weight: 330;
        font-size: 16px;
        line-height: 21.22px; /* 行高 */
      
}

label {
    text-align: start;
    margin-bottom: 3px;
}

.btn__group {
    /* margin-top: 48px; */
}

.btn__group button {
    width: 740px;
    height: 57px;
    background-color: #8C68FF;
    border-radius: 6px;
    font-family:white MiSans;
    color: white;
    margin-top: 20px;
    font-weight: 330;
    font-size: 22px;
    line-height: 31.82px;
}

.select__option {
    background-color: red;
}

@media (max-width: 810px) {
    .contact__form {
        width: 80vw; 
        top: 224px;
        margin: 0 auto; 
        
    }
    .contact__form >form {
        width: 80vw;
    }
    .btn__group button { 
        width: 80vw;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(20px, 80px));
        gap: 20px;
    }

   .contact_title {
    position: absolute;
    top: 140px;
    width: 100%;
    font-family: white MiSans;
    color: white;
    margin: 0 auto;
   }
}
