.home__container{
   min-width: 810px; 
   height: 100%;
   overflow: auto;
   background-color: black;
}

.home {
    position: relative;
    width: 100%;
    height: 100%;
}

.home .image__home {
    display: block;
    width: 100%;
    height: auto;
}

.home__joinus--container {
    display: none !important; 
    position: absolute;
    right: 64px;
    width: 260px;
    display: grid;
    gap: 20px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: white;
    padding: 10px;
    border-radius: 8px;
    white-space: nowrap;
}

.home div {
    top: 75% !important;
    right: 64px;
    position: absolute;
    top: 324px;
    width: 260px;
    display: grid;
    gap: 20px;
}

.home div >.home__join--us {
    background-color: #FFFFFF;
    border-radius: 79px;
    color: #000000;
    width: 176px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:#000000  MiSans;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 31.82px;
}

.home div >.home__go {
    position: relative;
    background-color: #8C68FF;
    width: 78px;
    height: 78px;
    border-radius: 78px;
    top: 0;
    left: 0;
    transform: translate(208%, -126%);
    cursor: pointer;
}

.home div >.home__go img {
    margin-top: 25px;
}

.home__image--bg {
    position: absolute;
    width: 78px; 
    height: 78px;
    border-radius: 79px;
    background-color: #8C68FF;
}

.home__footer {
    /* height: 100%; */
    background-color: black;
}

.home__footer h1 {
  display: none;
}

.home__logo {
    display: flex;
    margin-left: 32px;
    margin-top: 80px;
    margin-bottom: 100px;
}

@media (max-width: 810px) {
    /* .home__container{
        min-width: 810px;;
    } */
   .home__footer h1 {
    color: white !important;
    display: block !important;
    /* height:500px; */
    background-color: black !important;
  }

  .home div {
    top: 75% !important;
    right: 64px !important;
    position: absolute !important;
    width: 260px !important;
    display: grid !important;
    gap: 20px !important;
  }

  .home__join--us {
    display: none !important;
    background-color: #FFFFFF !important;
    border-radius: 79px !important;
    color: #000000 !important;
    width: 126px !important;
    height: 51px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: #000000 MiSans !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    text-align: center !important;
    line-height: 31.82px !important;
  }

  .home__go { 
    position: relative !important;
    /* background-color: #8C68FF; */
    background-color:  #8C68FF !important;
    width: 51px !important;
    height: 51px !important;
    border-radius: 51px !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(211%, -137%) !important;
    cursor: pointer !important;
  }

  .home div .home__go img {
    margin-top: 13px !important;
  }
}