.wrapper {
    height: 100%;
    background-color: black;
}
.header {
    background-color: transparent;
    position: fixed;
    background-color: linear-gradient(#000000 70%, #000000 0%);
    z-index: 100;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* overflow: hidden; */
    background-color: black;
    overflow: auto;
}

.header {
    position: fixed;
    width: 100%;
    height: 136px;
}

.header__left {
    position: absolute;
    top: 38px;
    left: 100px;
    /* transform: translateY(-50%); */
    width: 80px;
    height: 60px;
    background-image: url("/public/images/logo.png")
  }
  
  .header__btn--group {
    position: absolute;
    background: white;
    width: 360px;
    height: 64px;
    border-radius: 88px;
    left: 50%;
    top: 38px;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.header__btn--group >.selected {
    font-family: #8C68FF MiSans;
    width: 142px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.82px;
}
.header__btn--group >.selected:hover {
    cursor: pointer;
}

.header__btn--group >.selected::after {
    content: '';            
    position: absolute;     
    bottom: 10px;           
    transform: translateX(1129%); 
    width: 6px;             
    height: 6px;           
    background-color: #8C68FF; 
    border-radius: 50%;        
    display: block;            
  
}

/* .header__btn--group >.selected.active::after {
    display: block;
}  */

.header__btn--group >.remain {
    font-family: #999999 MiSans;
    /* width: 50%; */
    width: 142px;
    height: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31.82px;
}
.header__btn--group >.remain:hover {
    cursor: pointer;
}

.header__btn--group >.gap {
    width: 4px;
    height: 100%;
}

@media (max-width: 810px) {
   .header__btn--group {
        width: 289px;
        height: 58px;
    }

    .header__btn--group >.remain {
        
        /* padding-left: 19px; */
        width: 50%;
    }

    .header__btn--group >.selected {
        width: 50%;
        /* padding-right: 27px; */
    }

    .header__btn--group >.selected::after {
        content: '';            
        position: absolute;     
        bottom: 3px;           
        transform: translateX(700%); 
        width: 10px;             
        height: 10px;           
        background-color: #8C68FF; 
        border-radius: 50%;        
        display: block;            
      
    }

    .header__btn--group >.gap {
        width: 4px;
        height: 100%;
    }

    .header__left {
        position: absolute;
        top: 38px;
        left: 32px;
        /* transform: translateY(-50%); */
        width: 80px;
        height: 60px;
        background-image: url("/public/images/logo.png")
      }


      .home div {
        display: none;
        top: 75% !important;
        right: 64px;
        position: absolute;
        width: 260px;
        display: grid;
        gap: 20px;
      }
    
      .home__join--us {
        background-color: #FFFFFF;
        border-radius: 79px;
        color: #000000;
        width: 126px;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: #000000 MiSans;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        line-height: 31.82px;
      }
    
      .home__go { 
        position: relative;
        /* background-color: #8C68FF; */
        background-color: red;
        width: 51px;
        height: 51px;
        border-radius: 51px;
        top: 0;
        left: 0;
        transform: translate(211%, -137%);
        cursor: pointer;
      }
    
      .home div .home__go img {
        margin-top: 13px;
      }
}

@media (max-width: 450px) {
    .header__btn--group {
        transform: translate(-50%, 110%);
    }
    html {
        background-color: black;
    }
}


/* @media (max-width: 520px) {
    .header__btn--group {
        transform: translate(-115%,-52%);
    }
} */