.title {
  height: 60px;
  background-color: #FFFFFF;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.title span {
 font-size: 28px
}

.title div {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.title div> img {
  cursor: pointer;
}