.wrapper {
    height: 100%;
    background-color: black;
}

.header {
    background-color: transparent;
    position: fixed;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 100;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    background-color: black;
    /* overflow-x: auto; */
}

.container>div {
    width: 100%;
}

.header {
    position: fixed;
    width: 100%;
    height: 136px;
}

.header__left {
    position: absolute;
    top: 30px;
    cursor: pointer;
    /* left: 100px; */

    left: 32px;
    /* transform: translateY(-50%); */
    width: 64px;
    height: 48px;
    /* background-image: url("/public/images/logo.png") */
}

.header__btn--group {
    position: absolute;
    background: white;
    width: 328px;
    height: 48px;
    border-radius: 88px;
    left: 50%;
    top: 30px;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__btn--group>.selected {
    position: relative;
    font-family: #8C68FF MiSans;
    width: 140px;
    height: 29px;
    font-weight: 700;
    margin-bottom: 4px;
    text-align: center;
    /* padding-left: 22px; */
    font-size: 20px;
    line-height: 31.82px;
    left: -1px;
    top: -3px;
}

.header__btn--group>.selected:hover {
    cursor: pointer;
}

.header__btn--group>.selected.active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    transform: translateX(1129%);
    /* transform: translate(529%, 250%); */
    width: 6px;
    height: 6px;
    background-color: #8C68FF;
    border-radius: 50%;
    display: block;

}

.header__btn--group>.remain.active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    transform: translateX(1129%);
    /* transform: translate(529%, 250%); */
    width: 6px;
    height: 6px;
    background-color: #8C68FF;
    border-radius: 50%;
    display: block;

}

/* .header__btn--group >.selected.active::after {
    display: block;
}  */

.header__btn--group>.remain {
    position: relative;
    font-family: #999999 MiSans;
    /* width: 50%; */
    /* padding-right: 19px; */
    width: 140px;
    height: 29px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 31.82px;
    left: -11px;
    top: -3px;
}

.header__btn--group>.remain:hover {
    cursor: pointer;
}

.header__btn--group>.gap {
    /* width: 4px; */
    height: 100%;
}

@media (max-width: 810px) {
    .header__btn--group {
        width: 237px;
        height: 43px;
    }

    .header__btn--group>.remain {

        /* padding-left: 19px; */
        width: 50%;
        /* padding-left: 22px; */
        position: relative;
        height: 29px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 4px;
        line-height: 31.82px;
        left: -11px;
        top: -1px;
    }

    .header__btn--group>.selected {
        width: 50%;
        /* padding-right: 27px; */



        position: relative;
        height: 29px;
        font-weight: 700;
        margin-bottom: 4px;
        /* padding-left: 22px; */
        font-size: 17px;
        line-height: 31.82px;
        left: -1px;
        top: -1px;

    }

    .header__btn--group>.selected.active::after {
        content: '';
        position: absolute;
        bottom: -1px;
        transform: translateX(1420%);
        width: 4px;
        height: 4px;
        background-color: #8C68FF;
        border-radius: 50%;
        display: block;

    }

    .header__btn--group>.remain.active::after {
        content: '';
        position: absolute;
        bottom: -1px;
        transform: translateX(1420%);
        width: 4px;
        height: 4px;
        background-color: #8C68FF;
        border-radius: 50%;
        display: block;

    }

    .header__btn--group>.gap {
        /* width: 4px; */
        height: 100%;
    }

    .header__left {
        position: absolute;
        cursor: pointer;
        top: 30px;
        left: 32px;
        /* transform: translateY(-50%); */
        width: 64px;
        height: 48px;
        /* background-image: url("/public/images/logo.png") */
    }


    .home div {
        display: none !important;
        top: 75% !important;
        right: 64px;
        position: absolute;
        width: 260px;
        display: grid;
        gap: 20px;
    }

    .home__join--us {
        background-color: #FFFFFF;
        border-radius: 79px;
        color: #000000;
        width: 126px;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: #000000 MiSans;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        line-height: 31.82px;
    }

    .home__go {
        position: relative;
        /* background-color: #8C68FF; */
        background-color: red;
        width: 51px;
        height: 51px;
        border-radius: 51px;
        top: 0;
        left: 0;
        transform: translate(211%, -137%);
        cursor: pointer;
    }

    .home div .home__go img {
        margin-top: 13px;
    }
}

@media (max-width: 453px) {
    .header__btn--group {
        /* transform: translate(-50%, 100px); */
        display: none;
    }

    .contact__form form>form:first-child {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .contact__form form>form:first-child:nth-child(2) {
        margin-top: -20px !important;
    }

    html {
        background-color: black;
    }
}


@media(max-width: 400px) {
    .contact__form .row:nth-of-type(1) .form-item:nth-child(2) {
        margin-top: -20px;
    }
}

/* @media (max-width: 520px) {
    .header__btn--group {
        transform: translate(-115%,-52%);
    }
} */