.lexi-button {
  background-color: #8C68FF!important;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  width: 157px;
  height: 40px;
  border-radius: 0;
}