.lexi__sidebar {
  height: 100vh;
  background-color: #fff;
  width: 240px;
  position: relative;
  float: left;

  .ant-menu-item {
    vertical-align: middle;
    padding: 0 24px;
    text-align: center;
  }

  .lexi__sidebar--expand {
    position: absolute;
    left: calc(100% - 12px);
    width: 20px;
  }

  .brand__logo {
    height: 70px;
    padding-left: 24px;
    margin-bottom: -4px;
    display: flex;
    align-items: center;
    img {
      height: 30px;
    }
  }

  &--shrink {
    width: 80px;

    .brand__logo {
      padding-left: 16px;
    }
  }
}
