.dashboard-header {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.dashboard-promotion {
    margin-top: 20px;
    width: 100%;
    height: 97px;
    background-color: white;
    padding: 20px;

    .promotion-title {
        font-size: 16px medium;
    }

    .promotion-info {
        font-size: 14px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
}