.lexi-examples {
  padding-left: 12px;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  header {
    margin-bottom: 12px;
  }
  &__header {
    margin: auto;
    border-bottom: 1.5px solid #8c68ff;
    padding: 0 10px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #8c68ff;
  }
  .ant-carousel {
    flex-grow: 1;
  }
  &__carousel {
    height: calc(100% - 27px);

    .slick-slider {
      position: static;
    }

    &__item {
      height: 100%;
      background-color: #f8f6ff;
      display: flex !important;
      padding: 0 16px;
      align-items: center;
      font-family: Poppins;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #8c68ff;

      .text-bold {
        font-weight: 700;
      }
    }
  }
}

.ant-carousel .slick-dots li button {
  background: #e1d9fa; /* 默认点颜色 */
  height: 6px;
  width: 14px;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #8c68ff; /* 活跃点颜色 */
  width: 19px;
  border-radius: 8px;
}
